*{
    margin: 0;
    padding: 0;
}
html , body {
    width: 100%;
    height: 100%;

}
#main #back {
    width: 100%;
    height: 100vh;
}
#back img {
    width: 100%;
    height: 100vh;
    opacity: 1.7;
}
#leftmenu i {
    position: absolute;
    top: 6%;
    left: 3%;
    font-size: 20px;
}
#leftmenu i:hover {
    position: absolute;
    top: 6%;
    left: 3%;
    font-size: 20px;
    opacity: 0.8;
}
#leftmenu h5 {
    position: absolute;
    top: 6%;
    left: 5%;
    font-size: 16px;
    font-weight: 500;
}
#leftmenu a {
    text-decoration: none;
    color: black;
}
#leftmenu h5:hover {
    position: absolute;
    top: 6%;
    left: 5%;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}
#middlehero h1 {
    position: absolute;
    top: 45%;
    left: 34%;
    font-size: 100px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
}
#middlehero h1:hover {
    position: absolute;
    top: 45%;
    left: 34%;
    font-size: 100px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    color: pink;
}
#main2 {
    width: 100%;
    height: 100vh;
}
#main2 #backimg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
#main2 #backimg h1 {
    position: absolute;
    font-size: 90px;
    font-weight: 200;
    bottom: 80%;
    left: 4%;
    font-family: "Rajdhani", sans-serif;

}
#main3 {
    width: 100%;
    height: 100vh;
}
#main3 #backimg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
#main3 #backimg h1 {
    position: absolute;
    font-size: 90px;
    font-weight: 200;
    bottom: 200%;
    left: 4%;
    font-family: "Rajdhani", sans-serif;

}
#main4 {
    width: 100%;
    height: 100vh;
    background-color: grey;
}
#main4 img {
    width: 400px ;
    height: 600px;
    object-fit: cover;
    position: absolute;
    bottom: -292%;
    left: 39%;
}